@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"><center>
    <h1>Quicken Holiday Party!!</h1>
    <p><a href="~/Identity/Register" class="btn btn-success btn-lg">Register First!! &raquo;</a></p>
    <p><a href="~/Identity/Login" class="btn btn-success btn-lg">Login &raquo;</a></p>
    <p><a href="~/Database/AddGuest" class="btn btn-success btn-lg">RSVP &raquo;</a></p>
    <p><a href="~/Database/BringDish" class="btn btn-warning btn-lg">Bring a Dish &raquo;</a></p>
    <p><a href="~/Database/Index" class="btn btn-primary btn-lg">Guest Index &raquo;</a></p>
    <p><a href="~/Database/DishIndex" class="btn btn-danger btn-lg">Dish Index&raquo;</a></p>
</center>
</div>

